# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/

# macOS
.DS_Store
*.swp
*~.nib

# Swift Package Manager
.build/
.swiftpm/

# Firebase (Remove from ignore to allow build on GitHub with dummy file)
# GoogleService-Info.plist
