<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRn1XV8Ae4nwF_n0GaZJ_ClowUYRx-cjE</string>
	<key>GCM_SENDER_ID</key>
	<string>340141993414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baoverung.app</string>
	<key>PROJECT_ID</key>
	<string>baoverunng-daithanh</string>
	<key>STORAGE_BUCKET</key>
	<string>baoverunng-daithanh.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340141993414:ios:ae4b2c947daf6bc70e96c7</string>
	<key>DATABASE_URL</key>
	<string>https://baoverunng-daithanh-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>